*{
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  width: 330px;
  padding: 50px 30px;
  color: #fff;
  background-color: rgb(134, 56, 158);
  border-radius: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.counter h3 {
  margin: 0;
  font-size: 3rem;
}

.counter .btns button{
  color: #fff;
  background-color: #282828;
  padding: 7px;
  margin: 10px 10px;
  border-radius: 20px;
}

.counter .btns button:hover {
  background-color: #282828bd;
}